.item {
    background-color: #91350E;
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3em;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border: none;
    box-shadow: none;
    outline: none;
    list-style-type: none;

}
